src/main/mule/cicd-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d066f889-8d54-460e-bb0a-5ba5bbc2078a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkinsFlow" doc:id="8aeb3ab1-f086-448d-aef9-1634456a6832" >
		<http:listener doc:name="Listener" doc:id="d39607ff-a620-4489-8080-98cbc8168784" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="76a5ab90-082a-4ad2-8012-5117388aaed9" message="Request received"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="b8cfbb6b-bb40-4cdd-9c4d-b3ecc61b78ad" />
	</flow>
</mule>
